* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: 'Cascadia Mono', sans-serif;
    overflow-x: hidden;
}

footer {
    width: 100vw;
    padding: 5vh 0px;
    background: #1B262C;
}

footer > h1, footer > h3 {
    color: #BBE1FA;
    text-align: center;
}