<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inews</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>
<body>
    
    {% include 'abbr/navbar.html' %}

    <!-- <header>

        {% with ''|center:3 as range %}
        {% for _ in range %}
            <section>
                <img src="{% static 'assets/desert.jpg' %}" alt="Section's Image">
                <div class="section-content">
                    <h1>This is Titile about something large text for wrap or overflow -ing. This is Titile about something large text for wrap or overflow -ing</h1>

                    {% with ''|center:12 as range2 %}
                    <p>{% for __ in range2 %}It's same with the title this link view about something of nothing.{% endfor %}</p>
                    {% endwith %}

                    <a href="#">Read More</a>
                </div>
            </section>
        {% endfor %}
        {% endwith %}

    </header> -->

    <br><br><br><br>
    {% for article in articles %}
        <article>
            <div class="article-info">
                <a href="#" class="article-author-image">
                    <img src="{% static 'assets/' %}{{article.author.profile_image}}" alt="Profile's Image" width="64" height="64">
                </a>
                <div>
                    <p>by <a class="article-author" href="writer-{{article.author.id}}">{{article.author.name}} {{article.author.surname}}</a></p>
                    <h1>{{article.title}}</h1>
                </div>
            </div>
            <div class="content">
                <div class="context">
                    {% autoescape off %}
                        {{article.content}}
                    {% endautoescape %}
                </div>

                <a href="{% url 'article' id=article.id %}">Read More</a>
            </div>
        </article>
    {% endfor %}

</body>
</html>